{% extends 'base.html.twig' %}

{% block title %}Creer un nouveau lien{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-primary">Créer un nouveau lien</h1>

        {{ include('link/_form.html.twig') }}

        <div class="text-center mt-4">
            <a href="{{ path('app_link_index') }}" class="btn btn-outline-primary btn-lg">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
